{% extends 'base.html' %}

{% block content %}
<!-- Banner Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Welcome to Our Shop!</h1>
                    <p class="lead">Find the best products here. Enjoy your shopping experience!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product List Section -->
<div class="container mt-5">
    <div class="row">

    </div>
</div>
{% endblock %}